<body>
       <!-- ======= Hero Section ======= -->
       <section id="hero">
        <div class="hero-container" data-aos="fade-up">
          <h1>Welcome to Go-Pal</h1>
          <h2>A Collaborative Effort</h2>
    <h2>BOOK A TICKET AND JUST LEAVE</h2>
          <a href="#about" class="btn-get-started scrollto"><i class="bx bx-chevrons-down"></i></a>
        </div>
      </section><!-- End Hero -->
      <main id="main">
    
        <!-- ======= About Section ======= -->
        <section id="about" class="about">
          <div class="container">
            <img src="../../assets/img/about.png" width="1165" height="768">
          </div>
        </section><!-- End About Section -->
      
          <!-- ======= Contact Section ======= -->
          <section id="contact" class="contact section-bg">
            <div class="container" data-aos="fade-up">
      
              <div class="section-title">
                <h2>Contact</h2>
                <p>It takes great pains to benefit.His needs result from something that actually drives him away.Let them be what they want.Anyone whom anyone desires.And no one who hinders receives the others  </p> </div>
      
              <div class="row">
                <div class="col-lg-6">
                  <div class="info-box mb-4">
                    <i class="bx bx-map"></i>
                    <h3>Our Address</h3>
                    <p>Chennai One IT SEZ,Radial Road,Thoraiapakkam,Chennai</p>
                  </div>
                </div>
      
                <div class="col-lg-3 col-md-6">
                  <div class="info-box  mb-4">
                    <i class="bx bx-envelope"></i>
                    <h3>Email Us</h3>
                    <p>ramki@prodapt.com</p>
                  </div>
                </div>
      
                <div class="col-lg-3 col-md-6">
                  <div class="info-box  mb-4">
                    <i class="bx bx-phone-call"></i>
                    <h3>Call Us</h3>
                    <p>+91 994108662</p>
                  </div>
                </div>
      
              </div>
      
              <div class="row">
      
                <div class="col-lg-6 ">
                  <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.3747258609983!2d80.23001274960032!3d12.947856818859202!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a525d00a7353193%3A0x922b34dc8d22fc3c!2sChennai%20One%20IT%20SEZ!5e0!3m2!1sen!2sin!4v1667970779803!5m2!1sen!2sin" width="600" frameborder="0" style="border:0; width: 200%; height: 384px;" allowfullscreen></iframe>
                </div>
      </div></div></section></main>
        <!-- End #main -->
     <!-- ======= Footer ======= -->
     <footer id="footer">
        <div class="footer-top">
          <div class="container">
            <div class="row">
    
              <div class="col-lg-4 col-md-6">
                <div class="footer-info">
                  <h3>Go-Pal Bookings</h3>
                  <p class="pb-3"><em>
    Go-Pal is the world's largest online bus ticket booking service trusted by over 25 million happy customers globally. redBus offers bus ticket booking through its website,iOS and Android mobile apps for all major routes in India.</em></p>
                  <p>
                    Chennai One IT SEZ,Radial Road <br>
                    Thoraipakkam,Chennai<br><br>
                    <strong>Phone:</strong> +91 994108662<br>
                    <strong>Email:</strong> ramki@prodapt.com<br>
                  </p>
                </div>
              </div>
    
              <div class="col-lg-2 col-md-6 footer-links">
                <h4>Useful Links</h4>
                <ul>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a routerLink="Signup">Login</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#contact">Contact</a></li>
                </ul>
              </div>
              <div class="col-lg-4 col-md-6 footer-newsletter">
                <h4>Our Newsletter</h4>
                <p>If you book more than 4 tickets 25% discount</p>
                <br>Partners:
                <br> Team 1 : Propay Payment Partner
                <br> Team 2 : Christina Bank
                <br> Team 4 : Tint Painting Partner
              </div>
    
            </div>
          </div>
        </div>
    
        <div class="container">
          <div class="copyright">
            &copy; Copyright <strong><span>Go-Pal</span></strong>. All Rights Reserved
          </div>
          <div class="credits">
            Designed by <a href="#">Prodaptians-Team 3</a>
          </div>
        </div>
      </footer>
      <!-- End Footer -->
    </body>
