<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>

<body>
<app-header-login></app-header-login>
<br><br><br><br><br>
<div class="left">
    <div class="card">
    <div style="border-radius:200px; height:200px; width:200px; background: black; margin:0 auto;">
      <div class="checkmark"><img src="https://i.pinimg.com/736x/4d/c9/83/4dc98399ee9a9ce86da3322dcb69cb7a.jpg">    </div>
    </div>
    <br>
    <br><br>
      <h1>Payment Success</h1> 
      <br>
      
      <p>Tickets has been booked sucessfully<br/> BON-VOYAGE</p>
      <div class="paid">
      <button class="btn btn-primary btn-block" type="Submit" routerLink="/BusCart">DONE</button>
    </div>
    </div>
    </div>
</body>

