<body>
  <app-header-login></app-header-login>
<div class="back">
  <img src="../../assets/img/nepula-bg.png" width="1250" height="680">
  <div class="split left">
    <div class="centered">
  <h2 style="color:white">BUS-BOOKING</h2>
  <a (click)="booking()">
      <img src="../../assets/img/Bus.jpg">
     </a> 
      <b><h2 style="color:white">Buses are a great way to see the world</h2></b>
    </div>
  </div>

  <div class="split right">
    <div class="centered">
  <h2 style="color:white">RAILWAY-RESERVATION</h2>
     <a (click)="tbooking()"> <img src="../../assets/img/Train.jpg">
  
      </a>
    <b> <h2 style="color:white">The train is a small world moving through a larger world.</h2></b>
    </div>
  </div>
</div>
</body>
