
body{
    
    background-image:url("src\assets\img\nepula-bg.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    }
    .booking-form-box
     {
    max-width: 350px;
    border: 1px solid #ced4da;
    margin: 0% auto 0;
    background-color: black;
    opacity: 0.8;
     }
    .radio-btn
    {
    margin: 0 20px;
    }
    .radio-btn .btn
    {
    margin: 20px 10px 20px 0;
    box-shadow:none;
     }
     .radio-btn .btn::after
    {
    content: '';
    height: 15px;
    width: 15px;
    top: 2px;
    left: -1px;
    background-color: #fff;
    position: relative;
    display: inline-block;
    border: 3px solid #fff;
    visibility: visible;
    border-radius: 50%;
    }
    .radio-btn .btn:checked::after
    {
    content: '';
    background-color: #000;
    transition: 0.5s;
    }
    .radio-btn span {
    color: #fff;
    margin-right: 5px;
    font-size: 12px;
    }
    .booking-form
    {
    padding: 0 20px 20px;
    }
    
    .booking-form label
    {
    margin-bottom: -1px;
    margin-top: 10px;
    font-size: 12px;
    color: white;
    }
    input::placeholder
     {
    color: #fff !important;
    }
    .input-grp
    {
        width:151px;
        display:inline-block;
    }
    table{
        background-color: violet;
        border: 1px solid black;
        color: black;
    }
    th,td{
        background-color: violet;
        border: 1px solid black;
        color: black;
        width: 100px;
    }
    .done{
        align-items: center;
        align-self: center;
        align-content: center;
    }
    